<h1>New game</h1>

<ul class="cards">
  <% @letters.each do |letter| %>
    <li> <%= letter %> </li>
  <% end %>
</ul>

<p class="form-prefix">What is the longest word you can find?</p>

<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Enter your word" value='<%= params[:word] %>'>
  <input type="submit">
</form>
